@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap"); */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

input,
textarea {
  padding: 15px;
  width: 100%;
  margin-bottom: 20px;
}
label {
  margin-bottom: 5px;
}
button {
  cursor: pointer;
  outline: none;
  padding: 10px;
}
